#editor .toolbar-fixed{
	position: fixed;
	top: 53px;
	width: 100%;
}
.main-editor .fr-box.fr-basic.fr-top .fr-wrapper {
  box-shadow: none;
}
.main-editor {
  height: 100%;
}
.editor_wrapper .editor-footer {
  margin-top: 0px;
}

#wrapper.toggled-2 #sidebar-wrapper {
  width: 0px;
}

#wrapper.toggled-2 #page-content-wrapper {
  margin-left: -300px;
}

#wrapper {
  padding-left: 300px;
}
.sidebar-nav{
  width: 300px;
}
#sidebar-wrapper {
  width: 300px;
}